/* Full page container */
.quiz-container {
  min-height: 100vh;
 padding: 20px;
  background: linear-gradient(135deg, #00c4e7, #4fd49f);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

/* Filter section grid */
.filter-grid {
  max-width: 1200px;
  margin-bottom: 40px;
}

.start-end-btn {
  border-radius: 40px !important;
  font-size: 12px !important;
  font-weight: bold !important;

  background: linear-gradient(45deg, #ff4081, #b52da5) !important;
  color: #f3f7f9 !important;

  transition: 0.25s ease;

  /* Fixed width */
  height: 50px;
  width: 120px; 
  
  min-width: 180px;  
}
.start-end-btn:hover {
  transform: scale(1.08);
  
}

.quiz-paper {
  width: 90%;
  max-width: 650px;
  padding: 0px  0px 00px;
  border-radius: 20px;
  background: #ecfaff94 !important; /* ← important lagao */
  display: flex;
  flex-direction: column;
  padding: 20px;

}

/* Question text */
.question-text {
  font-weight: 600;
  color: #333;
  text-align: center;
}

/* Options wrapper */
 .option-btn {
  flex: 1 1 48%;   /* 48% width → 2 buttons per row */
  max-width: 40%;
  min-width: 120px;
  height: 50px;
}
.options-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

 

/* Submit button */
.submit-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.submit-btn {
  padding: 12px 35px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}
.submit-btn:hover {
  transform: scale(1.05);
}
.option-btn.selected {
  background: #00c853 !important;
  color: white !important;
  border-color: #00c853 !important;
}
