 /* html,
body,
#root {
  height: auto;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
} */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
